@import "tailwindcss";

@theme {
  --color-primary: #fecf01;
  --color-secondary: #FAF0F1;
  --color-antique: #FAF3EC;
  --color-antique-md: #FFFAF7;
  --color-primerose: #FAF0F1C4;
  --color-primerose-md: #EFECF8;
  --color-hov: #888;
  --color-disable: #AFAFAF;
  --color-blue: #0B69C0;
  --color-background: #fbfbfd;

  --text-mxl: 26px;
  --text-cbase: 15px;
  --text-size3: 33px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-decoration: inherit;
}

p {
  text-align: start;
}

h1 {
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
  text-align: start;
}

h2 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  text-align: start;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #1c1d1e;
  letter-spacing: 0.5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.max-width {
  max-width: 1180px;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
}
